@charset "utf-8";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: s;
}

@font-face {
    font-family: Gotu;
    src: url(./font/Gotu-Regular.ttf);
}


/* @font-face {
    font-family: Muli;
    src: url(../font/Muli-VariableFont_wght.ttf);
} */

body {
    width: 100%;
    height: 100%;
    font-family: Gotu;
    background-color: #94bee7;
    overflow-x: hidden;
}

.w-80 {
    width: 100%;
    height: auto;
    margin: auto;
}


/* Start Header Coding */

header {
    width: 100%;
    height: 55px;
    background: #000102;
    float: left;
}

header .menu {
    width: 80%;
    height: 55px;
    margin: auto;
    padding: 0 10px;
}

header .menu .brand-name {
    width: 35%;
    float: left;
}

header .menu .brand-name a {
    text-decoration: none;
}

header .menu .brand-name h2 {
    font-family: Gotu;
    font-size: 35px;
    color: white;
}


/* start nav ul li coding */

header .menu nav {
    width: 65%;
    float: left;
}

header .menu nav ul {
    list-style: square;
}

header .menu nav ul li {
    display: inline-block;
    margin: 8px 10px;
    padding: 2px 10px;
}

header .menu nav ul li:hover {
    border: none;
    border-bottom: 3px solid #666699;
}

header .menu nav ul li:hover a {
    color: rgb(241, 222, 11);
}

header .menu nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Gotu;
    font-size: 22px;
    font-weight: bold;
}

marquee {
    background-color: #031732;
    color: #e7ebef;
    font-size: 9px;
}


/* End Header Coding */


/* Start custom scrollbar coding*/


/* 
body::-webkit-scrollbar {
    width: 8px;
    background: rgba(1, 2, 63, 0.7);
}

body::-webkit-scrollbar-thumb {
    background: rgb(226, 237, 224);
} */


/* End custom scrollbar coding*/


/* Start Section Coding */

section {
    width: 100%;
    float: left;
}

section .section-img {
    width: 100%;
    height: 84%;
    background: url(https://media.discordapp.net/attachments/1123159642638393397/1156515811595407432/doctor.png?ex=651540c8&is=6513ef48&hm=a22286d1e2537d8d445fe8be1c3725aa159b8b2299f25101d05fd90df1e2b028&) no-repeat;
    background-size: cover;
    margin-top: -1.5%;
}

section .section-bg-box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 150px 0;
    border: 2px;
}

section .section-bg-box h1 {
    background: rgba(105, 191, 244, 0.824);
    color: rgb(12, 1, 1, 0.9);
    font-size: 50px;
    width: 50%;
    margin: auto;
    font-family: 'Lato';
    padding: 2% 2% 2% 2%;
    text-shadow: 2px 2px 4px rgba(226, 236, 237, 0.482);
    box-shadow: -6px -7px 1010px 0.1px rgb(2, 19, 50);
}

section .section-bg-box h2 {
    background: rgba(3, 18, 84, 0.747);
    color: rgba(239, 245, 248, 0.824);
    width: 50%;
    margin: auto;
    font-size: 20px;
    padding: 1% 1% 1% 1%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.968);
    box-shadow: 0px 0px 1000px 0.01px rgb(2, 19, 50);
    font-family: Gotu;
}

section .welcome-text {
    font-size: 28px;
    text-align: center;
    border-radius: 6px;
    text-transform: uppercase;
    background: #0e2b50f1;
    width: 50%;
    color: rgba(223, 229, 231, 0.881);
    padding: 2%;
}

section p {
    font-size: 20px;
    text-align: justify;
    line-height: 28px;
    margin-top: -2.5%;
}

section ul {
    padding: 0;
    margin-left: 10px;
    margin-top: 20px;
    list-style: none;
}

section ul li {
    font-size: 20px;
    line-height: 30px;
}

section h2 {
    font-size: 30px;
}

.department {
    color: #000102;
    background-color: rgb(14, 51, 125);
    display: inline-block;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #858789;
    padding: 25px;
    color: #e7ebefcb;
    text-shadow: 2px 2px 4px rgba(1, 27, 77, 0.726);
}

.department2 {
    color: #000102;
    background-color: rgb(14, 51, 125);
    display: inline-block;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #858789;
    padding: 25px;
    color: #e7ebefcb;
    text-shadow: 2px 2px 4px rgba(1, 27, 77, 0.726);
}

.department3 {
    color: #000102;
    background-color: rgb(14, 51, 125);
    display: inline-block;
    position: relative;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #858789;
    padding: 25px;
    color: #e7ebefcb;
    text-shadow: 2px 2px 4px rgba(1, 27, 77, 0.726);
}

.nextcontent {
    display: flex;
    justify-content: space-evenly;
}

section .about-box {
    width: 100%;
    margin: 2% 5% 5% 1.5%;
    padding-bottom: 5%;
}

section .about-box p {
    font-size: 18px;
}

section .about-box div:nth-child(1) {
    width: 60%;
    float: left;
    padding: 10px;
}

section .about-box div:nth-child(2) {
    width: 40%;
    float: left;
    padding: 10px;
}


/* gallery Coding */

section .form-box {
    padding: 20px;
}

section .form-box .gallery {
    width: 100%;
    height: 200px;
    padding: 0 5px;
}

section .form-box .gallery div {
    width: 25%;
    height: 100%;
    float: left;
    padding: 5px;
}

section .form-box .gallery div img {
    border-radius: 10px;
}

section .form-box form {
    margin-top: 20px;
}

section .form-box input:focus,
textarea:focus,
button:focus {
    outline: none;
}

section .form-box input,
textarea {
    width: 50%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-family: Gotu;
    font-size: 16px;
}

textarea {
    height: 100px;
}

section .form-box form #register-btn,
#login-btn,
#contact-btn {
    font-family: Muli;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

section .form-box form #login-btn {
    background: red;
}

section .form-box form #contact-btn {
    background: red;
}

section .form-box form #register-btn {
    background: red;
}

section .form-box form #contact-btn:hover {
    background: #080896;
}

section .form-box form #login-btn:hover {
    background: #9e0707;
}

section .form-box form #register-btn:hover {
    background: blue;
}


/* End Section Coding */


/* Start Footer Coding */

footer {
    width: 100%;
    background: black;
    float: left;
    color: white;
    padding: 30px 0;
}

footer .footer-box {
    width: 25%;
    float: left;
    height: 100%;
}

footer .footer-box a {
    display: block;
    font-family: Gotu;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

footer .footer-box a:hover {
    text-decoration: none;
    color: red;
}

.credit {
    display: flex;
    padding: 1px;
    background-color: rgb(79, 4, 75);
    color: #ffffff;
    margin-top: 2px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.wel {
    margin-left: 5%;
    margin-right: 5%;
}

.img5 {
    position: absolute;
    right: 6%;
    margin: 0;
    padding: 0;
    width: 20rem;
    margin-top: -7%;
    border-radius: 5%;
}

.abo {
    margin-left: 5%;
}


